@import "@styles/breakpoints.scss";

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
  padding: 20px;
  
  @media (min-width: $desktop) {
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-top: 120px;
    padding-bottom: 20px;
  }
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 191px);

  @media (min-width: $desktop) {
    flex-direction: column;
    height: calc(100svh - 200px);
  }
}

.footer {
  text-align: center;
  font-size: 12px;
  color: var(--gray-alpha-500);
  margin-top: 40px;
}
