@import "@styles/breakpoints.scss";

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
  padding: 20px;
  
  @media (min-width: $desktop) {
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-top: 120px;
  }
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 134px);

  @media (min-width: $desktop) {
    flex-direction: column;
    height: calc(100svh - 200px);
  }
}