.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.header {
  align-self: flex-start;
}

.messages {
  display: flex;
  height: calc(100vh - 355px);
  width: 80%;
  overflow-y: auto;
}

.messagesInner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-end;
  margin-top: auto;
}

.userMessage {
  align-self: flex-end;
  background-color: var(--gray-alpha-200);
  padding: 16px;
  border-radius: 16px;
}

.chatbotMessage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  .answer {
    white-space: pre-line;
  }

  .referencesTitle {
    font-weight: bold;
  }

  .references {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.form {
  display: flex;
  gap: 16px;
  width: 80%;
}

.input {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: none;
  background-color: var(--gray-alpha-200);
  color: var(--foreground);
}

.error {
  color: red;
  margin: 1rem 0;
}
